In [4]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = 'C:/Users/szczy/Downloads/template.xlsx'
data = pd.read_excel(file_path)

data

     Year          State  Democratic %  Gun ownership %    HDI
0    1992        Alabama           NaN            0.552  0.839
1    1992         Alaska           NaN            0.685  0.915
2    1992        Arizona           NaN            0.547  0.876
3    1992       Arkansas           NaN            0.533  0.839
4    1992     California           NaN            0.402  0.883
..    ...            ...           ...              ...    ...
403  2020       Virginia           NaN            0.446  0.929
404  2020     Washington           NaN            0.421  0.939
405  2020  West Virginia           NaN            0.585  0.876
406  2020      Wisconsin           NaN            0.453  0.928
407  2020        Wyoming           NaN            0.662  0.931

[408 rows x 5 columns]